{% extends 'base.html.twig' %}

{% block title %}Salarie index{% endblock %}

{% block body %}
    <h1>Salarie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Entreprise</th>
                <th>Chef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salarie in salaries %}
            <tr>
                <td>{{ salarie.id }}</td>
                <td>{{ salarie.nom }}</td>
                <td>{{ salarie.prenom }}</td>
                <td>{{ salarie.entreprise }}</td>
                <td>{{ salarie.chef }}</td>
                <td>
                    <a href="{{ path('salarie_show', {'id': salarie.id}) }}">show</a>
                    <a href="{{ path('salarie_edit', {'id': salarie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salarie_new') }}">Create new</a>
{% endblock %}
