{% extends 'base.html.twig' %}

{% block title %}{{ salarie.prenom }} {{ salarie.nom }} {% endblock %}

{% block body %}
    <a href="{{ path('salarie_edit', {'id': salarie.id}) }}">edit</a>
    {{ include('salarie/_delete_form.html.twig') }}

    <h1>{{ salarie.prenom }} {{ salarie.nom }} </h1>

    <p>Entreprise : <a href="{{ path('entreprise_show', {'id':salarie.entreprise.id })}}">{{ salarie.entreprise }}</a> </p>
    {% if  salarie.chef %}
        <p>Chef : <a href="{{ path('salarie_show', {'id':salarie.chef.id })}}">{{ salarie.chef.prenom }} {{ salarie.chef.nom }}</a></p>
    {% endif %}

    {% if salarie.sbires|length > 0 %}
        <h2>Sbires : </h2>
        <ul>
        {% for sbire in salarie.sbires %}
         <li><a href="{{ path('salarie_show', {'id':sbire.id })}}">{{ sbire.prenom }} {{ sbire.nom }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    
{% endblock %}
