{% extends 'base.html.twig' %}

{% block title %}{{ entreprise.nom}}{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('entreprise_index') }}">back to list</a>
        <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">edit</a>
        {{ include('entreprise/_delete_form.html.twig') }}
    </div>

    <h1>L'équipe {{ entreprise.nom}}</h1>
    <ul>
    {% for salarie in entreprise.salaries %}
        <li><a href="{{ path('salarie_show', {'id':salarie.id })}}">{{ salarie.prenom }} {{ salarie.nom }}</a></li>
    {% endfor %}
    </ul>
    
{% endblock %}
